* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --darkblue: #38406F;
    --white: #DFDBD8;
    --green: #4CAF50;
}

body {
    /* background: var(--white); */
    background-image: url('../images/xianyu-hao-paT-IJpXa3A-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

#highscoreButton {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: var(--darkblue);
    color: var(--white) ;
    border: none;
    cursor: grab;
    box-shadow: 4px 4px darkgrey;
}

#highscoreButton:active {
    cursor: grabbing;
}

#highscores-container {
    background: var(--darkblue);
    width: 90%;
    max-width: 400px;
    margin: 100px auto 0;
    border-radius: 10px;
    color: var(--white);
    font-size: larger;
    text-align: center;
    padding: 10px;
}

#highscores-container ul{
text-align: left;
padding-left: 20px;
}

#highscores-container h2{
    padding-bottom: 30px;
}

#timer {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: var(--darkblue);
    border-style: groove;
    border: 1px;
}

.app {
    background: var(--darkblue);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
}

.app h1 {
    font-size: 25px;
    color: var(--white);
    font-weight: 600;
    border-bottom: 1px dotted var(--white);
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
   }

.quiz {
    padding: 20px 0;

}

.quiz h2 {
    font-size: 18px;
    color: var(--white);
    font-weight: 600;
}

.btn {
    background: #fff;
    color: var(--darkblue);
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

/* when you hover over a button with the class 'btn' and it's not disabled, the background color will change to purple, 
and the text color will change to white, providing a visual feedback to the user. */
.btn:hover:not([disabled]) {
    background: #623FB2;
    color: #fff;
}

/* when it IS DISABLED - you change the curser to not allowed - essentially preventing further clicking once you make a choice */
.btn:disabled {
    cursor: not-allowed;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background-color: #9aeabc;
}

.incorrect {
    background-color: #ff9393;
}

#start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#start-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: var(--green); 
    color: var(--white);
    border: 2px solid var(--green);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 25px;
}

p{
    color: var(--darkblue);
    font-size: x-large;
}

#score-form {
    color: var(--white);
}

